@import "../../styles/variables.css";

.termsContianer {
  margin: auto;
  max-width: 800px;
  padding: 20px;
  font-size: 16px;
  line-height: 1.6;
  color: var(--text-primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.go-back-button {
  font-size: 1.125em;
  margin-top: 1.5em;
  border-radius: 3rem;
  color: var(--bg-white);
  font-weight: 500;
  padding: 1rem 40px;
  background-color: rgb(8, 158, 30);
  cursor: pointer;
  width: 35vw;
  min-width: max-content;
  max-width: 270px;
  border: none;
}

.termsContent {
  background: var(--bg-white);
  width: 750px;
  max-width: 100%;
  border-radius: 20px;
  margin: 3em auto 0;
  text-align: center;
  transition: width 600ms ease-in-out;
  padding: 40px;
  color: var(--text-light);
  font-weight: 500;
  line-height: 1.5em;
  font-size: 14px;
}

.termDescription {
  text-align: center;
  color: var(--text-light);
  font-weight: 500;
  line-height: 1.5em;
  font-size: 15px;
}

@media (max-width: 674px) {
  .termsContent {
    margin-top: 28px;
    font-size: 14px;
  }
}

@media (min-width: 675px) and (max-width: 899px) {
  .termsContent {
    font-size: 14px;
  }
}

@media (min-width: 900px) and (max-width: 1270px) {
  .termsContent {
    font-size: 15px;
  }
  
  .termDescription {
    font-size: 14px;
  }
}

@media (min-width: 1271px) {
  .termsContent {
    font-size: 14px;
  }
  
  .termDescription {
    font-size: 15px;
  }
}